<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Set the namespace below to the interface side of the mapper -->
<mapper namespace="uk.ac.qub.csc3045.api.mapper.ProjectMapper">

	<resultMap id="projectResultMap" type="Project">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <association property="manager" column="manager_id" javaType="User" select="selectManager"/>
        <association property="productOwner" column="product_owner_id" javaType="User" select="selectProductOwner"/>
        <association property="scrumMaster" column="scrum_master_id" javaType="User" select="selectScrumMaster"/>
        <collection property="users" javaType="List" resultMap="userResultMap"/>
        <collection property="userStories" javaType="List" resultMap="uk.ac.qub.csc3045.api.mapper.UserStoryMapper.userStoryResultMap"/>
    </resultMap>
    
   	<resultMap id="userResultMap" type="User">
        <id column="id" property="id"/>
        <result column="forename" property="forename"/>
        <result column="surname" property="surname"/>
        <result column="email" property="email"/>
        <association property="roles" resultMap="rolesResultMap"/>
    </resultMap>
    
    <resultMap id="rolesResultMap" type="Roles">
        <id column="id" property="id"/>
        <result column="developer" property="developer"/>
        <result column="scrum_master" property="scrumMaster"/>
        <result column="product_owner" property="productOwner"/>
    </resultMap>
    
    <insert id="createProject" parameterType="Project" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO project(name, description, manager_id, product_owner_id)
        VALUES(#{name}, #{description}, #{manager.id}, #{productOwner.id});
    </insert>
    
    <update id="updateProject" parameterType="Project">
        UPDATE project
            <set>
                name = #{name},
                description = #{description},
                manager_id = #{manager.id},
                <if test="productOwner != null">product_owner_id = #{productOwner.id},</if>
                <if test="scrumMaster != null">scrum_master_id = #{scrumMaster.id},</if>
            </set>
        WHERE id = #{id};
    </update>
    
    <select id="getProjectById" resultMap="projectResultMap">
    	SELECT * FROM PROJECT WHERE id = #{id}
    </select>

    <select id="getProjectsForUser" resultMap="projectResultMap">
        SELECT *
        FROM PROJECT
          LEFT JOIN PROJECT_USER ON PROJECT.ID = PROJECT_USER.PROJECT_ID
        WHERE USER_ID = #{userId}
          OR MANAGER_ID = #{userId}
    </select>
    
    <select id="selectManager" resultMap="userResultMap">
    	SELECT * FROM USER 
    	JOIN roles ON roles_id = roles.id
    	WHERE user.id = #{project.manager_id} 
    </select>
    
    <select id="selectProductOwner" resultMap="userResultMap">
    	SELECT * FROM USER
    	JOIN roles ON roles_id = roles.id
    	WHERE user.id = #{project.product_owner_id}
    </select>

    <select id="selectScrumMaster" resultMap="userResultMap">
        SELECT * FROM USER
        JOIN roles ON roles_id = roles.id
        WHERE user.id = #{project.scrum_master_id}
    </select>

    <select id="getUsersOnProject" resultMap="userResultMap">
      SELECT *
      FROM USER
          JOIN ROLES ON USER.ROLES_ID = ROLES.ID
          JOIN PROJECT_USER ON USER.ID = PROJECT_USER.USER_ID
      WHERE PROJECT_USER.PROJECT_ID = #{projectId}
    </select>
    
    <select id="findUserByEmail" resultType="User">
        SELECT * FROM user WHERE email = #{email}
    </select>
    
    <insert id="addToProjectTeam">
      INSERT INTO project_user (project_id, user_id)
        VALUES (#{projectId}, #{userId})
    </insert>
</mapper>