<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Set the namespace below to the interface side of the sprintMapper -->
<mapper namespace="uk.ac.qub.csc3045.api.mapper.SprintMapper">
    <!-- Result Maps -->
    <resultMap id="sprintResultMap" type="Sprint">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <association column="scrum_master_id" property="scrumMaster" javaType="User" select="selectScrumMaster"/>
        <association column="project_id" property="project" javaType="Project" select="selectProject"/>
    </resultMap>
    
    <!-- SELECT Queries -->
    
    <select id="getProjectSprints" resultMap="sprintResultMap">
        SELECT
            SPRINT.ID   AS ID,
            SPRINT.NAME AS NAME,
            START_DATE,
            END_DATE,
            SCRUM_MASTER_ID,
            PROJECT_ID
        FROM SPRINT
            JOIN PROJECT ON SPRINT.PROJECT_ID = PROJECT.ID
        WHERE PROJECT.ID = #{projectId}
    </select>
    
    <select id="getSprintById" resultMap="sprintResultMap">
        SELECT
            ID,
            NAME,
            START_DATE,
            END_DATE,
            SCRUM_MASTER_ID,
            PROJECT_ID
        FROM SPRINT
        WHERE ID = #{id}
    </select>
    
    <select id="getSprintTeam" resultMap="uk.ac.qub.csc3045.api.mapper.UserMapper.userResultMap">
        SELECT *
        FROM USER
            JOIN ROLES ON USER.ROLES_ID = ROLES.ID
            JOIN SPRINT_USER ON USER.ID = SPRINT_USER.USER_ID
        WHERE SPRINT_USER.SPRINT_ID = #{sprintId}
    </select>
    
    <select id="getClashingSprintsForUser" resultMap="uk.ac.qub.csc3045.api.mapper.UserMapper.userResultMap">
        SELECT
            SPRINT.ID AS ID,
            NAME,
            START_DATE,
            END_DATE,
            SCRUM_MASTER_ID,
            PROJECT_ID
        FROM SPRINT
            JOIN SPRINT_USER ON SPRINT.ID = SPRINT_USER.SPRINT_ID
            JOIN USER ON SPRINT_USER.USER_ID = USER.ID
        WHERE USER.ID = #{userId}
              AND (#{startDate} &lt;= SPRINT.END_DATE
                   AND
                   #{endDate} &gt;= SPRINT.START_DATE)
    </select>
    
    <select id="getUserStoriesInSprint" resultMap="uk.ac.qub.csc3045.api.mapper.UserStoryMapper.userStoryResultMap">
        SELECT
            USER_STORY.ID AS ID,
            USER_STORY.NAME AS NAME,
            USER_STORY.DESCRIPTION AS DESCRIPTION,
            USER_STORY.POINTS,
            USER_STORY.MARKET_VALUE,
            USER_STORY.PROJECT_ID as PROJECT_ID,
            USER_STORY.SPRINT_ID as SPRINT_ID
        FROM USER_STORY
            JOIN SPRINT ON USER_STORY.SPRINT_ID = SPRINT.ID
        WHERE SPRINT.ID = #{sprintId}
    </select>

    <!-- INSERT Queries -->
    
    <insert id="createSprint" parameterType="Sprint" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO SPRINT (PROJECT_ID, NAME, START_DATE, END_DATE, SCRUM_MASTER_ID)
        VALUES (#{project.id}, #{name}, #{startDate}, #{endDate}, #{scrumMaster.id})
    </insert>
    
    <insert id="addToSprintTeam">
        INSERT INTO SPRINT_USER (SPRINT_ID, USER_ID)
        VALUES (#{sprintId}, #{userId})
    </insert>

    <!-- UPDATE Queries -->
    <update id="resetSprintBacklog">
        UPDATE USER_STORY
        SET USER_STORY.SPRINT_ID = NULL   
        WHERE USER_STORY.SPRINT_ID = #{sprintId} 
    </update>
    
    <update id="addToSprintBacklog">
        UPDATE USER_STORY
        SET USER_STORY.SPRINT_ID = #{sprintId}   
        WHERE ID = #{userStoryId}
	</update>
    
    <!-- DELETE Queries -->
    
    <delete id="resetSprintTeam">
        DELETE FROM SPRINT_USER
        WHERE SPRINT_ID = #{sprintId}
    </delete>
    
    <!-- Nested SELECT queries for Sprint -->
    
    <select id="selectScrumMaster" resultMap="uk.ac.qub.csc3045.api.mapper.UserMapper.userResultMap">
        SELECT
            USER.ID  AS user_id,
            USER.FORENAME,
            USER.SURNAME,
            USER.EMAIL,
            ROLES.ID AS roles_id,
            ROLES.DEVELOPER,
            ROLES.SCRUM_MASTER,
            ROLES.PRODUCT_OWNER
        FROM USER
            JOIN roles ON roles_id = roles.id
        WHERE user.id = #{sprint.scrum_master_id}
    </select>
    
    <select id="selectProject" resultMap="uk.ac.qub.csc3045.api.mapper.ProjectMapper.simpleProjectResultMap">
        SELECT
            ID,
            NAME,
            DESCRIPTION,
            MANAGER_ID,
            PRODUCT_OWNER_ID
        FROM PROJECT
        WHERE ID = #{sprint.project_id}
    </select>
</mapper>