<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Set the namespace below to the interface side of the mapper -->
<mapper namespace="uk.ac.qub.csc3045.api.mapper.UserMapper">

    <resultMap id="userResultMap" type="User">
        <id column="user_id" property="id"/>
        <result column="forename" property="forename"/>
        <result column="surname" property="surname"/>
        <result column="email" property="email"/>
        <association property="roles" resultMap="rolesResultMap"/>
    </resultMap>

    <resultMap id="rolesResultMap" type="Roles">
        <id column="roles_id" property="id"/>
        <result column="developer" property="developer"/>
        <result column="scrum_master" property="scrumMaster"/>
        <result column="product_owner" property="productOwner"/>
    </resultMap>

    <select id="searchUsers" parameterType="User" resultMap="userResultMap">
        SELECT
            USER.ID AS user_id,
            USER.FORENAME,
            USER.SURNAME,
            USER.EMAIL,
            ROLES.ID as roles_id,
            ROLES.DEVELOPER,
            ROLES.SCRUM_MASTER,
            ROLES.PRODUCT_OWNER
        FROM user
          JOIN roles ON roles.ID = user.ROLES_ID
        WHERE FORENAME LIKE '%' || '${forename}' || '%'
          AND SURNAME LIKE '%' || '${surname}' || '%'
          AND EMAIL LIKE '%' || '${email}' || '%'
    </select>
</mapper>