<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Set the namespace below to the interface side of the mapper -->
<mapper namespace="uk.ac.qub.csc3045.api.mapper.UserMapper">

    <!-- Result Maps -->

    <resultMap id="userResultMap" type="User">
        <id column="user_id" property="id"/>
        <result column="forename" property="forename"/>
        <result column="surname" property="surname"/>
        <result column="email" property="email"/>
        <result column="profile_picture" property="profilePicture"/>
        <association property="roles" resultMap="rolesResultMap"/>
    </resultMap>

    <resultMap id="rolesResultMap" type="Roles">
        <id column="roles_id" property="id"/>
        <result column="developer" property="developer"/>
        <result column="scrum_master" property="scrumMaster"/>
        <result column="product_owner" property="productOwner"/>
    </resultMap>
    
    <resultMap id="projectResultMap" type="Project">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <association property="manager" column="manager_id" javaType="User" select="selectManager"/>
        <association property="productOwner" column="product_owner_id" javaType="User" select="selectProductOwner"/>
        <collection property="scrumMasters" column="id" javaType="List" ofType="User" select="selectScrumMasters"/>
        <collection property="users" column="id" javaType="List" ofType="User" select="getUsersOnProject"/>
    </resultMap>

    <!-- SELECT Queries -->

    <select id="findUserByEmail" resultMap="userResultMap">
        SELECT
            USER.ID     AS user_id,
            USER.FORENAME,
            USER.SURNAME,
            USER.EMAIL,
            USER.PROFILE_PICTURE,
            ROLES.ID    AS roles_id,
            ROLES.DEVELOPER,
            ROLES.SCRUM_MASTER,
            ROLES.PRODUCT_OWNER        
        FROM user 
            JOIN roles ON user.roles_id = roles.id
        WHERE email = #{email}
    </select>
    
    <select id="getProjectsForUser" resultMap="projectResultMap">
        SELECT
            ID,
            NAME,
            DESCRIPTION,
            MANAGER_ID,
            PRODUCT_OWNER_ID
        FROM PROJECT
            JOIN PROJECT_USER ON PROJECT.ID = PROJECT_USER.PROJECT_ID
        WHERE USER_ID = #{userId}
              AND MANAGER_ID != #{userId}

        UNION

        SELECT
            ID,
            NAME,
            DESCRIPTION,
            MANAGER_ID,
            PRODUCT_OWNER_ID
        FROM PROJECT
        WHERE MANAGER_ID = #{userId}
    </select>

	    <!-- Nested SELECT queries for Project -->

    <select id="selectManager" resultMap="uk.ac.qub.csc3045.api.mapper.UserMapper.userResultMap">
        SELECT
            USER.ID  AS user_id,
            USER.FORENAME,
            USER.SURNAME,
            USER.EMAIL,
            USER.PROFILE_PICTURE,
            ROLES.ID AS roles_id,
            ROLES.DEVELOPER,
            ROLES.SCRUM_MASTER,
            ROLES.PRODUCT_OWNER
        FROM USER
            JOIN roles ON roles_id = roles.id
        WHERE user.id = #{project.manager_id}
    </select>

    <select id="selectProductOwner" resultMap="uk.ac.qub.csc3045.api.mapper.UserMapper.userResultMap">
        SELECT
            USER.ID  AS user_id,
            USER.FORENAME,
            USER.SURNAME,
            USER.EMAIL,
            USER.PROFILE_PICTURE,
            ROLES.ID AS roles_id,
            ROLES.DEVELOPER,
            ROLES.SCRUM_MASTER,
            ROLES.PRODUCT_OWNER
        FROM USER
            JOIN roles ON roles_id = roles.id
        WHERE user.id = #{project.product_owner_id}
    </select>

    <select id="selectScrumMasters" resultMap="uk.ac.qub.csc3045.api.mapper.UserMapper.userResultMap">
        SELECT
            USER.ID  AS user_id,
            USER.FORENAME,
            USER.SURNAME,
            USER.EMAIL,
            USER.PROFILE_PICTURE,
            ROLES.ID AS roles_id,
            ROLES.DEVELOPER,
            ROLES.SCRUM_MASTER,
            ROLES.PRODUCT_OWNER
        FROM USER
            JOIN ROLES ON roles_id = roles.id
            JOIN PROJECT_USER ON USER.ID = PROJECT_USER.USER_ID
        WHERE PROJECT_USER.PROJECT_ID = #{id}
              AND PROJECT_USER.SCRUM_MASTER = TRUE
    </select>
    
    <select id="getUsersOnProject" resultMap="uk.ac.qub.csc3045.api.mapper.UserMapper.userResultMap">
        SELECT
            USER.ID  AS user_id,
            USER.FORENAME,
            USER.SURNAME,
            USER.EMAIL,
            ROLES.ID AS roles_id,
            ROLES.DEVELOPER,
            ROLES.SCRUM_MASTER,
            ROLES.PRODUCT_OWNER
        FROM USER
            JOIN ROLES ON USER.ROLES_ID = ROLES.ID
            JOIN PROJECT_USER ON USER.ID = PROJECT_USER.USER_ID
        WHERE PROJECT_USER.PROJECT_ID = #{projectId}
    </select>
</mapper>